@model OfficeLocationMicroservice.WebUi.Models.OfficeModel

@{
    ViewBag.Title = "Edit";
}

<head>
    <style></style>
</head>

<body>
<h2>Edit</h2>
    
Model: 
    @Model.OfficeEdit.OfficeId
    @Model.OfficeEdit.NewOfficeName
    @Model.OfficeEdit.NewAddress
    @Model.OfficeEdit.NewCountry
    @Model.OfficeEdit.NewSwitchboard
    @Model.OfficeEdit.NewFax
    @Model.OfficeEdit.NewTimeZone
    @Model.OfficeEdit.NewOperating
    

<script>
    
</script>
</body>