@model OfficeLocationMicroservice.WebUi.Models.OfficeModel

@{
    ViewBag.Title = "Edit";
}

<head>
    @*<link href="SharedOfficelocationStyles.css" rel="stylesheet" />*@
    <style>
               div.card {
            width: 320px;
            height: 230px;
            background: grey;
            margin: 10px;
            padding: 10px;
            display: inline-table;
            overflow: hidden;
        }

        .details {
            margin: 10px;
        }

        h4 {
            color: black;
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .cardContainer {
            z-index: 10;
            width: inherit;
            height: 100%;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
        }

       .editPanel {
            position: fixed;
            text-align: center;
            top: 100px;
            width: 70%;
            left: 15%;
            height: 600px;
            margin: 10px;
            padding: 10px;
            z-index: 100;
            background: aquamarine;
        }
        .modal {
            top: 100px;
        }

        textarea {
            margin: 2px;
            background: aquamarine;
            border: 
        }

        .container {
            height: 100%;
            width: 100%;
        }

    </style>
</head>

<body>
    <h2>Office Locations</h2>
    <div class="myContainer">

        <div class="cardContainer">
            @foreach (var office in Model.Offices)
            {
                <div class="card">
                    <h4>@office.Name</h4>
                    <div class="details">
                        @office.Address <br />
                        @office.Country <br />
                        Switchboard:
                        @office.Switchboard <br />
                        Fax: @office.Fax <br />
                        @office.TimeZone <br />
                        @office.Operating
                    </div>

                </div>
            }

        </div>

        <div class="modal show">
            <div class="modal-dialog">
                <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                </div>
                             

                <div class="modal-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="office">Office</label>
                            @Html.TextArea(@Model.OfficeEdit.NewOfficeName, @Model.OfficeEdit.NewOfficeName, new {@placeholder="Type Office Here",
                           @class = "form-control", @rows="1", @id= "office", @style="min-width: 100%;"})
                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            @Html.TextArea(@Model.OfficeEdit.NewAddress, @Model.OfficeEdit.NewAddress,  new { @placeholder = "Type Address Here",
                           @class = "form-control", @rows="3", @id= "address", @style="min-width: 100%;"})
                           
                            @* @Html.DropDownListFor(m => m.OfficeEdit.NewCountry, null, null, new { @class = "form-control" }))
                            *@
                        </div>

                        <div class="form-group">
                            <label for="switchboard">Switchboard</label>
                            @Html.TextArea(@Model.OfficeEdit.NewSwitchboard, @Model.OfficeEdit.NewSwitchboard, new { @placeholder = "Type Switchboard Here",
                           @class = "form-control", @rows="1", @id= "switchboard", @style="min-width: 100%;"})
                        </div>

                        <div class="form-group">
                            <label for="fax">Fax</label>
                            @Html.TextArea(@Model.OfficeEdit.NewFax, @Model.OfficeEdit.NewFax, new { @placeholder = "Type Fax Here",
                           @class = "form-control", @rows="1", @id= "fax", @style="min-width: 100%;"})
                        </div>

                        <div class="form-group">
                            <label for="timezone">timezone</label>
                            @*  @Html.DropDownListFor(m => m.OfficeEdit.NewTimeZone, null, null, new { @class = "form-control" }))
                                *@
                        </div>

                        <div class="form-group">
                            <label for="operating">operating</label>        
                            @* @Html.DropDownListFor(m => m.OfficeEdit.NewOperating, null, null, new { @class = "form-control" }))
                            *@
                        </div>
                    }
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
    <script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>

    <script>

    </script>
</body>