@model OfficeLocationMicroservice.WebUi.Models.OfficeEditModel

@{
    ViewBag.Title = "Edit";
}


<head>
    <style></style>
</head>

<body>
<h2>Edit</h2>
    
Model: 
    @Model.OfficeId
    @Model.NewOfficeName
    @Model.NewAddress
    @Model.NewCountry
    @Model.NewSwitchboard
    @Model.NewFax
    @Model.NewTimeZone
    @Model.NewOperating
    

<script>
    
</script>
</body>