@model OfficeLocationMicroservice.WebUi.Models.OfficeModel

@{
    ViewBag.Title = "Index";
}

<head>
   
    <link href="~/Content/SharedOfficelocationStyles.css" rel="stylesheet" />

    <style>
        .card:hover {
            box-shadow: 0 8px 10px 0 #000000, 0 8px 20px 0 #000000;
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .cardContainer {
            position: absolute;
            z-index: 10;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
        }
    </style>
    
    
</head>


<body>
    <h2>Office Locations</h2>
<div class="myContainer">

    <div class="cardContainer">
        @foreach (var office in Model.Offices)
        {
        <div class="card" id ="clickableCard" data-identifier="@office.OfficeId">
                <h4>@office.Name</h4>
                <div class="details">
                    @office.Address <br/>
                    @office.Country <br/>
                    Switchboard:
                    @office.Switchboard <br/>
                    Fax: @office.Fax <br/>
                    @office.TimeZone <br/>
                    @office.Operating
                </div>

            </div>
        }

    </div>
</div>



<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
<script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>



<script>


    $('.card').on('click', cardClicked);

    function cardClicked() {
        console.log(this.dataset.identifier);
        window.location.href = 'OfficeLocation/Edit/' + this.dataset.identifier;
    }

</script>
</body>
