<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Content/global.min.css?v=0.17"/>
    <link href="/Content/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Data Source | Dimensional Fund Advisors</title>
    <link href="/Content/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="global-header trackable" id="global-header" data-component-name="Header" data-content-name="Global Header" style="position: fixed; top: 0px;">
        <div class="container">
            

            
            <div class="nav-links">
                
                <ul class="nav-links-main">



                    <li>

                        <span class="chapter">Office Data Source</span>

                    </li>


                </ul>
            </div>
        </div>
    </nav>




    <div class="container body-content">
        @RenderBody()
        <hr />


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <footer id="global-footer" class="global-footer trackable" data-component-name="Footer" data-content-name="Global Footer">
        <div class="container">
            <div id="footer-main" style="width: 100%">
                <a href="#" style="float: left" class="logo"><img src="/Content/logo.png" alt="Dimensional Logo"></a>
                <div id="footer-links">
                    <ul id="footer-links-main">
                        <li>
                           
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </footer>

</body>
</html>
