<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Content/global.min.css?v=0.17" />
    <link href="/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimensional Investing | Dimensional Fund Advisors</title>
    <link href="/Content/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
<nav class="global-header trackable " id="global-header" data-component-name="Header" data-content-name="Global Header" style="position: fixed; top: 0px;">
    <div class="container">
        <a id="nav-mobile-menu" class="nav-mobile-menu">
            <img src="/Assets/images/menu.png" alt="open menu" class="hamburger-menu">
            <img src="/Assets/images/close-white.png" alt="close menu" class="close-menu">
        </a>

        <a href="/" class="logo"><img src="/-/media/Dimensional/Images/Global/logo.png?h=50&amp;w=156&amp;la=en&amp;hash=4CA0A363A7B1D101271B14EFC2DE82BE34A89C11" alt="Dimensional Logo"></a>            <div class="nav-links">
            <ul class="nav-links-main">
                                            

                <li>
                    <a href="/funds" class="isfinratrue">
                        Mutual Funds                                                                            </a>
                </li>
                            
                                        
            </ul>
        </div>
    </div>
</nav>
    
    
    

<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
